<%= render 'layouts/header1' %>

<div class="events">
    <h1>Live Events</h1>
    <p>Come meet us in person at one of our live events</p>
</div>

<div class="eventsBox">
    <h1>Upcoming Events</h1>
    
</div>