<div class="hero2">
<h1>FAQs</h1>
<p>You have Questions...We have answers</p>
</div>

<div class="container-fluid">
    <div class="row-fluid">
        <div class="span8 well">
            <ul class="nav nav-tabs">
                <li class="active"> <a href="#home" data-target="#home" data-toggle="tab">Home</a>

                </li>
                <li><a href="#profile" data-target="#profile" data-toggle="tab">Profile</a>

                </li>
            </ul>
            <div class="tab-content">
                <div class="tab-pane active fade in" id="home">home tab content</div>
                <div class="tab-pane" id="profile">profile tab content</div>
            </div>
        </div>
    </div>
</div>

Tabs
<li>Invest</li>
<li>Raise</li>
<li>Misc</li>

<search bar>
<!--invest section-->
In Invest Section

<h3>Investing in Businesses</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>

<h3>Making Investments Through PeerPoint</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>


Answers to Above Questions
<h2>Question</h2>
<p>Answer</p>
<br>

<!--Raise section-->
In Raise Section

<h3>Legal Structure</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>

<h3>Raising Capital</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>

<h3>Seeking Investment Through PeerPoint</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>

<h3>Post-Fundraising Process</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>


Answers to Above Questions
<h2>Question</h2>
<p>Answer</p>
<br>

<!--Misc section-->
In Raise Section

<h3>General</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>

<h3>Security</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>



Answers to Above Questions
<h2>Question</h2>
<p>Answer</p>
<br>


