<div class="hero2">
<h1>FAQs</h1>
<p>You have Questions...We have answers</p>
</div>
<div>
<ul class="nav nav-tabs">
  <li role="presentation" class="active"><a href="#">Home</a></li>
  <li role="presentation"><a href="#">Profile</a></li>
  <li role="presentation"><a href="#">Messages</a></li>
</ul>
</div>

Tabs
<li>Invest</li>
<li>Raise</li>
<li>Misc</li>

<search bar>
<!--invest section-->
In Invest Section

<h3>Investing in Businesses</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>

<h3>Making Investments Through PeerPoint</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>


Answers to Above Questions
<h2>Question</h2>
<p>Answer</p>
<br>

<!--Raise section-->
In Raise Section

<h3>Legal Structure</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>

<h3>Raising Capital</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>

<h3>Seeking Investment Through PeerPoint</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>

<h3>Post-Fundraising Process</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>


Answers to Above Questions
<h2>Question</h2>
<p>Answer</p>
<br>

<!--Misc section-->
In Raise Section

<h3>General</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>

<h3>Security</h3>
<li>Question #1</li>
<li>Question #2</li>
<li>Question #3</li>
<li>Question #4</li>



Answers to Above Questions
<h2>Question</h2>
<p>Answer</p>
<br>


