<div class="hero1 cover1">
    <h1>Invest in businesses <br>you believe in</h1>
    <p>PeerPoint makes it simple for you to buy<br>into businesses you believe in and<br>share in their success.</p>
    <br>
    <%= link_to "HOW TO INVEST" , how_to_invest_path, class:'btn btn-default btn-lg' %>
    
</div>

<div class="hero2 box800">
<div class="container">
        <h1>Equity crowdfunding done properly</h1>
        <p>Support before, during and after fundraising ensures that<br>businesses have the best opportuninty for success and that their<br> investors are part of it.  It's at the heart of everthing we do</p>
        <br><br><br> 
        
     <!---row 1-->
     <div class="row">
        <div class="col-md-4">
        <span class="fa fa-group" aria-hidden="true"></span>     
        <h4>Deep investor network</h4>
        <p>Our expert PROs<small class="sup">&reg;</small> invest alongside friends, family and tribes of supporters.
        </div>
        
        <div class="col-md-4">
        <span class="fa fa-line-chart" aria-hidden="true"></span>
        <h4>Ambitious businesses</h4>
        <p>From idea-stage startups to real estate partnerships, there are plenty of businesses to buy into.</p>
        </div>
        
        <div class="col-md-4">
        <span class="fa fa-money" aria-hidden="true"></span>   
        <h4>Real investment</h4>
        <p>Anyone can invest as much as they like into businesses they choose in exchange for preferred shares</p>
        </div>
    </div><!--close row 1-->

    <!--row 2-->
    <div class="row">
        <div class="col-md-4">
        <span class="fa fa-shield" aria-hidden="true"></span>    
        <h4>Investor protection</h4>
        <p>Receive professional-grade protections through our unified nominee structure - so you can share in success.</p>
        </div>
        
        <div class="col-md-4">
        <span class="fa fa-check-square-o" aria-hidden="true"></span>
        <h4>Full Service</h4>
        <p>We're not just introducers.  Our team handles all documentation, admin and payment for both investors and businesses.</p>
        </div>
        
        <div class="col-md-4">
        <span class="fa fa-commenting" aria-hidden="true"></span>
        <h4>Ongoing investor relations</h4>
        <p>Investors and businesses can easily keep-in-touch, online and off, through the investment lifecycle.</p>
        </div>
    </div><!--close row 2-->
</div><!--close container-->
</div>

<div class="pros">
    <div class="container">
        <h1>Meet the PROs<small class="sup">&reg;</small></h1>
        <p>Invest with confidence alongside<br> some of the most sophisticated angels<br> and VC's in the game</p><br>
        <%= link_to "Meet The PROs" , meet_the_pros_path, class:'btn btn-default btn-lg' %>
    </div>
</div>

<div class="container hero5 cta4">
    <div class="row">
       <div class="col-md-6">
            <h2>Invest in Ambitious businesses</h2>
            <p>Access a world of dynamic investment opportunities, buy<br>into businesses you believe in and share in their success.</p>
            <br>
            <a href="#">How to invest <i class="fa fa-angle-right"></i></a>
            <br>
            <br>
            <br>
            <%= link_to "START INVESTING" , join_path, class:'btn btn-success btn-lg' %>
        </div>
        
        <div class="verticalLine">
        </div>
    

        <div class="col-md-6">
            <h2>Raise funds the smart way</h2>
            <p>Raise investment, engage with your community and grow <br> your business in a more efficient, streamlined way.</p>
            <br>
            <a href="#">How to raise funds  <i class="fa fa-angle-right"></i></a>
            <br><br><br>
            <%= link_to "START RAISING FUNDS" , join_path, class:'btn btn-primary btn-lg' %>
           
        </div> 
    </div><!--end row-->
</div><!--end container-->
<!--success
<div class="hero2 success">
<div class="container">
        <h1>Success for the Many</h1>
        <p>We're on a mission to make it simple for anyone to invest in<br>businesses, many of which have the support of top accelerators,<br> incubators and brands.</p>
    <br><br><br>
    <div class="row">
    <div class="col-md-2">
        <h3>brand1</h3>
    </div>
    <div class="col-md-2">
        <h3>brand2</h3>
    </div>
    <div class="col-md-2">
        <h3>brand3</h3>
    </div>
    <div class="col-md-2">
        <h3>brand4</h3>
    </div>
    <div class="col-md-2">
        <h3>brand5</h3>
    </div>
    <div class="col-md-2">
        <h3>brand6</h3>
    </div>
    <ul>

</div><!--end container
<br><br>
</div>
</div>
-->
<!--testimonial box-->
<div class="test1">
        <h3><span class="fa fa-commenting-o"></span>  CUSTOMER STORY</h3>
        <p>Investing in local companies is fascinating, and thanks
        <br> to PeerPoint it's extremely simple to build a
        <br> diversified portfolio and back entrepreneurs <br>I believe in.</p>
        <p>Debra P, Investor from Winnetka, IL</p>
</div>



<!--press bar
<div class="press">
    <div class="col-md-2">
        <h3>news1</h3>
    </div>
    <div class="col-md-2">
        <h3>news2</h3>
    </div>
    <div class="col-md-2">
        <h3>news3</h3>
    </div>
    <div class="col-md-2">
        <h3>news4</h3>
    </div>
    <div class="col-md-2">
        <h3>news5</h3>
    </div>
    <div class="col-md-2">
        <h3>news6</h3>
    </div>
    <ul>
</div>
-->
<!--disclaimer-->

<div class="container disclaimer">
    <p>Neither PeerPoint Capital nor any of its affiliates makes investment recommendations to you.  No communication from PeerPoint Capital, Inc. or any of its affiliates, through this website or any other medium, should be construed as a recommendation regarding as security.  Further, nothing on this website shall be considered an offer to sell, or solicition of an offer to buy, any security to any person in any jurisdication to whom or in which such offer, solicitation or sale is unlawful.  PeerPoint Capital, Inc and its affiliates do not provide legal, financial or tax advice of any kind to you.  If you have any questions with respect to legal, financial or tax matters relevant to your interactions with PeerPoint Capital, Inc or its affiliates, you should consult a professional adviser.</p>
    <p>Investing in early-stage businesses is extremely risky, and is not for everyone.  If you choose to invest in businesses displayed on peerpointcapital.com, you need to be aware and accept that (1) it is significantly more likely than not that you will lose some or all of the money you invest, (2) you will likely be unable to sell you investment, (3) even if the business is successful, you will be unlikely to receive any cash return on your investment for many years, (4) ordinary events in the life of the bsuiness can cause your percentage ownership in the business to decrease, and (5) if you choose to invest in early-stage businesses, you should do so only in the context of a broader investment strategy whereby the vast majority of your investable capital is placed in safer, more liquid assets.  For more information regarding the risks associated with early stage investments, please read our<a href="#"> Risk Warning.</a></p>
    <p>This page has been approved as a financial promotion of the PeerPoint platform by PeerPoint Capital, Inc, which is authorized and regulated by [regulatory agency].  It is not intended to be a promotion of any individual investment opportunity, and the summary information provided about investment opportunities in intended solely to demonstrate the types of investments available through PeerPoint.  Any investment decision should be made solely on the basis of the listing for that particular investment opportunity.  Full listings are available to authorized investors only.</p>
    
</div><!--end container-->

