<div class="hero2 cover3">
    <h1>Partner with Businesses<br>you believe in</h1>
    <p>Discover a world of great investment opportunities, buy into businesses<br> you believe in and share in their success through a simple<br> online process.</p>
    <%= link_to "HOW TO INVEST" , how_to_invest_path, class:'btn btn-success btn-lg' %>
</div>

<div class="hero2 opp">
    <h1>Investment Opportunities</h1>
</div>

<div class="container">
    <div class="row">
        <!--deal 1-->
  	 	<div class="col-md-4">
  	 	<div class="well">
  	 	    <a href="#">
  	 	        <p><strong>Real Estate</strong></p>
  	 	        <img class="placeholder" height="80px" width="100%">
  	 	        <p><em><strong>Praxis Residential, INC</strong></em></p>
  	 	        <p>Santa Rosa, CA</p>
  	 	    <hr>
  	 	        <p>Praxis Residential. Inc is a real estate private equity investment firm which is committed to developing lasting relationships with our clients by assisting them in building wealth through quality real estate investments.  Praxis has purchased...</p>
  	 	    <div class="progress">
  			<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  			</div>
  	 	    </div>	
  	 	    <div class="goal">
      	 		<ul class="list-unstyled">
      	 			<li class="goal-left">Goal</li>
      	 			<li class="fundgoal">$5,000,000</li>
      	 		</ul>
  	 	    </div>
  	 	   </a>
  	 	</div>
  	 	</div>
  	 	
  	 <!--deal 2-->	
  	 <div class="col-md-4">
  	 <div class="well">
  	 	<p><strong>Real Estate</strong></p>
  	 	<img class="placeholder" height="80px" width="100%">
  	 	<p><em><strong>Praxis Residential, INC</strong></em></p>
  	 	<p>Santa Rosa, CA</p>
  	 	<hr>
  	 	<p>Praxis Residential. Inc is a real estate private equity investment firm which is committed to developing lasting relationships with our clients by assisting them in building wealth through quality real estate investments.  Praxis has purchased...</p>
  	 	
  	 	<!-- progress bar -->
  	 	<div class="progress">
  			<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  			</div>
  	 	</div>	
      	 	<div class="goal">
      	 		<ul class="list-unstyled">
      	 			<li>Goal</li>
      	 			<li class="fundgoal">$5,000,000</li>
      	 		</ul>
      	 	</div>	
  	 	</div><!--close well-->
  	 	</div><!--close col-->
  	 	
  	 <!--deal 3-->	
  	 <div class="col-md-4">
  	 <div class="well">
  	 	<p><strong>Real Estate</strong></p>
  	 	<img class="placeholder" height="80px" width="100%">
  	 	<p><em><strong>Praxis Residential, INC</strong></em></p>
  	 	<p>Santa Rosa, CA</p>
  	 	<hr>
  	 	<p>Praxis Residential. Inc is a real estate private equity investment firm which is committed to developing lasting relationships with our clients by assisting them in building wealth through quality real estate investments.  Praxis has purchased...</p>
  	 	<div class="progress">
  			<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  			</div>
  	 	</div>	
  	 	<div class="goal">
  	 		<ul class="list-unstyled">
  	 			<li>Goal</li>
  	 			<li class="fundgoal">$5,000,000</li>
  	 		</ul>
  	 	</div>
  	</div><!--close well-->
  	</div><!--close col-->
  	</div><!--end row-->
  
  	
  	
 <div class="row">
  	 <div class="col-md-4">
  	 <div class="well">
  	 	<p><strong>Real Estate</strong></p>
  	 	<img class="placeholder" height="80px" width="100%">
  	 	<p><em><strong>Praxis Residential, INC</strong></em></p>
  	 	<p>Santa Rosa, CA</p>
  	 	<hr>
  	 	<p>Praxis Residential. Inc is a real estate private equity investment firm which is committed to developing lasting relationships with our clients by assisting them in building wealth through quality real estate investments.  Praxis has purchased...</p>
  	 	<div class="progress">
  			<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  			</div>
  	 	</div>	
  	 	<div class="goal">
  	 		<ul class="list-unstyled">
  	 			<li>Goal</li>
  	 			<li class="fundgoal">$5,000,000</li>
  	 		</ul>
  	 	</div>
  	 	
  	 </div><!--end well-->
  	 </div><!--end col-->
  	 	
  	 <div class="col-md-4">
  	 <div class="well">
  	 	<p><strong>Real Estate</strong></p>
  	 	<img class="placeholder" height="80px" width="100%">
  	 	<p><em><strong>Praxis Residential, INC</strong></em></p>
  	 	<p>Santa Rosa, CA</p>
  	 	<hr>
  	 	<p>Praxis Residential. Inc is a real estate private equity investment firm which is committed to developing lasting relationships with our clients by assisting them in building wealth through quality real estate investments.  Praxis has purchased...</p>
  	 	<div class="progress">
  			<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  			</div>
  	 	</div>	
  	 	<div class="goal">
  	 		<ul class="list-unstyled">
  	 			<li>Goal</li>
  	 			<li class="fundgoal">$5,000,000</li>
  	 		</ul>
  	 	</div>
  	 	
  	 	</div><!--end well-->
  	 	</div><!--end col-->
  	 	
  	 	<div class="col-md-4">
  	 	<div class="well">
  	 			<p><strong>Real Estate</strong></p>
  	 			<img class="placeholder" height="80px" width="100%">
  	 			<p><em><strong>Praxis Residential, INC</strong></em></p>
  	 			<p>Santa Rosa, CA</p>
  	 			<hr>
  	 			<p>Praxis Residential. Inc is a real estate private equity investment firm which is committed to developing lasting relationships with our clients by assisting them in building wealth through quality real estate investments.  Praxis has purchased...</p>
  	 		<div class="progress">
  			<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  			</div>
  	 	    </div>	
  	 		<div class="goal">
  	 			<ul class="list-unstyled">
  	 				<li>Goal</li>
  	 				<li class="fundgoal">$5,000,000</li>
  	 			</ul>
  	 		</div>
  	 </div><!--close well-->
    </div><!--close col-->
  </div><!--close row-->
 </div><!--close container-->
  	 
  	 

<div class="hero2 success">
    <h3>Recent Successes</h3>
</div>

<div class="test1">
        <h4>CUSTOMER STORY</h4>
        <p>Investing in local companies is fascinating, and thanks<br> to PeerPoint it's extremely simple to build a<br> diversified portfolio and back entrepreneurs <br>I believe in.</p>
        <p>Name, Investor from neighborhood</p>
</div>

<div class="cta3">
    <%= link_to "START INVESTING" , invest_path, class:'btn btn-success btn-lg' %>
</div>