<div class="hero2 cover3">
    <h1>Partner with Businesses<br>you believe in</h1><br>
    <p>Discover a world of great investment opportunities, buy into businesses<br> you believe in and share in their success through a simple<br> online process.</p>
    <br><br>
    <%= link_to "HOW TO INVEST" , how_to_invest_path, class:'btn btn-success btn-lg' %>
</div>

<div class="hero2 opp">
    <h1>Investment Opportunities</h1>
</div>

<div class="container">
    <div class="row">
        <!--deal 1-->
  	 	<div class="col-md-4">
  	 	<div class="well">
  	 	    <a href="#">
  	 	        <p><strong>Real Estate</strong></p>
  	 	        <img class="placeholder" height="80px" width="100%">
  	 	        <p><em><strong>Praxis Residential, INC</strong></em></p>
  	 	        <p>Santa Rosa, CA</p>
  	 	    <hr>
  	 	        <p>Praxis Residential. Inc is a real estate private equity investment firm which is committed to developing lasting relationships with our clients by assisting them in building wealth through quality real estate investments.  Praxis has purchased...</p>
  	 	    <div class="progress">
  			<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  			</div>
  	 	    </div>	
  	 	    <div class="goal">
      	 		<ul class="list-unstyled">
      	 			<li class="goal-left">Goal</li>
      	 			<li class="fundgoal">$5,000,000</li>
      	 		</ul>
  	 	    </div>
  	 	   </a>
  	 	</div>
  	 	</div>
  	 	
  	 <!--deal 2-->	
  	 <div class="col-md-4">
  	 <div class="well">
  	 	<p><strong>Real Estate</strong></p>
  	 	<img class="placeholder" height="80px" width="100%">
  	 	<p><em><strong>Praxis Residential, INC</strong></em></p>
  	 	<p>Santa Rosa, CA</p>
  	 	<hr>
  	 	<p>Praxis Residential. Inc is a real estate private equity investment firm which is committed to developing lasting relationships with our clients by assisting them in building wealth through quality real estate investments.  Praxis has purchased...</p>
  	 	
  	 	<!-- progress bar -->
  	 	<div class="progress">
  			<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  			</div>
  	 	</div>	
      	 	<div class="goal">
      	 		<ul class="list-unstyled">
      	 			<li>Goal</li>
      	 			<li class="fundgoal">$5,000,000</li>
      	 		</ul>
      	 	</div>	
  	 	</div><!--close well-->
  	 	</div><!--close col-->
  	 	
  	 <!--deal 3-->	
  	 <div class="col-md-4">
  	 <div class="well">
  	 	<p><strong>Real Estate</strong></p>
  	 	<img class="placeholder" height="80px" width="100%">
  	 	<p><em><strong>Praxis Residential, INC</strong></em></p>
  	 	<p>Santa Rosa, CA</p>
  	 	<hr>
  	 	<p>Praxis Residential. Inc is a real estate private equity investment firm which is committed to developing lasting relationships with our clients by assisting them in building wealth through quality real estate investments.  Praxis has purchased...</p>
  	 	<div class="progress">
  			<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  			</div>
  	 	</div>	
  	 	<div class="goal">
  	 		<ul class="list-unstyled">
  	 			<li>Goal</li>
  	 			<li class="fundgoal">$5,000,000</li>
  	 		</ul>
  	 	</div>
  	</div><!--close well-->
  	</div><!--close col-->
  	</div><!--end row-->
  
  	
  	
 <div class="row">
  	 <div class="col-md-4">
  	 <div class="well">
  	 	<p><strong>Real Estate</strong></p>
  	 	<img class="placeholder" height="80px" width="100%">
  	 	<p><em><strong>Praxis Residential, INC</strong></em></p>
  	 	<p>Santa Rosa, CA</p>
  	 	<hr>
  	 	<p>Praxis Residential. Inc is a real estate private equity investment firm which is committed to developing lasting relationships with our clients by assisting them in building wealth through quality real estate investments.  Praxis has purchased...</p>
  	 	<div class="progress">
  			<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  			</div>
  	 	</div>	
  	 	<div class="goal">
  	 		<ul class="list-unstyled">
  	 			<li>Goal</li>
  	 			<li class="fundgoal">$5,000,000</li>
  	 		</ul>
  	 	</div>
  	 	
  	 </div><!--end well-->
  	 </div><!--end col-->
  	 	
  	 <div class="col-md-4">
  	 <div class="well">
  	 	<p><strong>Real Estate</strong></p>
  	 	<img class="placeholder" height="80px" width="100%">
  	 	<p><em><strong>Praxis Residential, INC</strong></em></p>
  	 	<p>Santa Rosa, CA</p>
  	 	<hr>
  	 	<p>Praxis Residential. Inc is a real estate private equity investment firm which is committed to developing lasting relationships with our clients by assisting them in building wealth through quality real estate investments.  Praxis has purchased...</p>
  	 	<div class="progress">
  			<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  			</div>
  	 	</div>	
  	 	<div class="goal">
  	 		<ul class="list-unstyled">
  	 			<li>Goal</li>
  	 			<li class="fundgoal">$5,000,000</li>
  	 		</ul>
  	 	</div>
  	 	
  	 	</div><!--end well-->
  	 	</div><!--end col-->
  	 	
  	 	<div class="col-md-4">
  	 	<div class="well">
  	 			<p><strong>Real Estate</strong></p>
  	 			<img class="placeholder" height="80px" width="100%">
  	 			<p><em><strong>Praxis Residential, INC</strong></em></p>
  	 			<p>Santa Rosa, CA</p>
  	 			<hr>
  	 			<p>Praxis Residential. Inc is a real estate private equity investment firm which is committed to developing lasting relationships with our clients by assisting them in building wealth through quality real estate investments.  Praxis has purchased...</p>
  	 		<div class="progress">
  			<div class="progress-bar progress-bar-striped progress-bar-success" role="progressbar" aria-valuenow="70"
  aria-valuemin="0" aria-valuemax="100" style="width:70%">
    70%
  			</div>
  	 	    </div>	
  	 		<div class="goal">
  	 			<ul class="list-unstyled">
  	 				<li>Goal</li>
  	 				<li class="fundgoal">$5,000,000</li>
  	 			</ul>
  	 		</div>
  	 </div><!--close well-->
    </div><!--close col-->
  </div><!--close row-->
 </div><!--close container-->
  	 
  	 

<div class="hero2 success">
    <h3>Recent Successes</h3>
</div>

<div class="test1">
        <h3><span class="fa fa-commenting-o"></span>  CUSTOMER STORY</h3>
        <p>Investing in local companies is fascinating, and thanks<br> to PeerPoint it's extremely simple to build a<br> diversified portfolio and back entrepreneurs <br>I believe in.</p>
        <p>Name, Investor from neighborhood</p>
</div>

<div class="cta3">
    <%= link_to "START INVESTING" , invest_path, class:'btn btn-success btn-lg' %>
</div>

<!--disclaimer-->

<div class="container disclaimer">
    <p>Neither PeerPoint Capital nor any of its affiliates makes investment recommendations to you.  No communication from PeerPoint Capital, Inc. or any of its affiliates, through this website or any other medium, should be construed as a recommendation regarding as security.  Further, nothing on this website shall be considered an offer to sell, or solicition of an offer to buy, any security to any person in any jurisdication to whom or in which such offer, solicitation or sale is unlawful.  PeerPoint Capital, Inc and its affiliates do not provide legal, financial or tax advice of any kind to you.  If you have any questions with respect to legal, financial or tax matters relevant to your interactions with PeerPoint Capital, Inc or its affiliates, you should consult a professional adviser.</p>
    <p>Investing in early-stage businesses is extremely risky, and is not for everyone.  If you choose to invest in businesses displayed on peerpointcapital.com, you need to be aware and accept that (1) it is significantly more likely than not that you will lose some or all of the money you invest, (2) you will likely be unable to sell you investment, (3) even if the business is successful, you will be unlikely to receive any cash return on your investment for many years, (4) ordinary events in the life of the bsuiness can cause your percentage ownership in the business to decrease, and (5) if you choose to invest in early-stage businesses, you should do so only in the context of a broader investment strategy whereby the vast majority of your investable capital is placed in safer, more liquid assets.  For more information regarding the risks associated with early stage investments, please read our<a href="#"> Risk Warning.</a></p>
    <p>This page has been approved as a financial promotion of the PeerPoint platform by PeerPoint Capital, Inc, which is authorized and regulated by [regulatory agency].  It is not intended to be a promotion of any individual investment opportunity, and the summary information provided about investment opportunities in intended solely to demonstrate the types of investments available through PeerPoint.  Any investment decision should be made solely on the basis of the listing for that particular investment opportunity.  Full listings are available to authorized investors only.</p>
    
</div><!--end container-->

