<div class="container">
<div class="alert alert-success">
    <p>Welcome to PeerPoint!</p>
    <p>If you want to invest, please start by becoming authorized to invest below.</p>
    <p>If you're an entrepreneur, you can start creating your campaign.  However, we do recommend that you become authorized to invest before you start your campaign.</p>
</div>


<h2>Become an Investor</h2>
<p>Before you can invest on PeerPoint, you will need to become an "authorized investor" and you can do this by either self-certifying or taking a short quiz.  Don't worry, it won't take long and you only have to do it once.</p>

<div class="row">
    <div class="col-md-3 col-md-offset-3">
        <image></image>
        <h4>Self-Cerify</h4>
        <p>If you are a "High Net Worth Individual" or an "Accreditied Investor" as defined by the SEC</p>
    </div>
    
    <div>
        <p>OR</p>
    </div>
    
    <div class="col-md-3">
        <image></image>
        <h4>Quiz</h4>
        <p>If you are not a "High Net Worth Individual" or an "Accredited Investor" we need your to complete a short quiz and read a disclaimer.</p>
    </div>
    
</div>
</div>
