<h1>Welcome to the PeerPoint Playbook<h1>
<p>Thoughts, stories and news about raising funds and crowd investing.</p>

Tab navigation

<li>Latest</li>
<li>Startup Stories</li>
<li>Investment Insights</li>
<li>Capital Raising</li>
<li>Features & Updates</li>
<li>Trends</li>
<li>Team</li>

Full page blog with leading large photo
after 5 lines of text "read more" hyperlink to full page story

<a href="#">back to blog</a>
