<div class="container">
<h1>Portfolio</h1>
<p>Find me in app/views/pages/portfolio.html.erb</p>
    <div class="jumbotron">
        <p>You have currently have no paid investments yet.</p>
        <p>Start by investing in a campaign, and remember that you should look to build a diversified portfolio and invest in multiple companies.</p>
        <br>
        <%= link_to "BROWSE CAMPAIGNS" , how_to_invest_path, class:'btn btn-success btn-lg' %>
    </div>

</div>