<div class="callout">
<div class="container">
    <h1>Referral Fee Terms</h1>
        <p >These Referral Fee Terms constitute a legal agreement between you, as the user of the Website, and PeerPoint Capital, Inc, as the owner of the Website. Throughout these Referral Fee Terms we will refer to you as "you", and we will refer to PeerPoint Capital, Inc as "we", "us" or "PeerPoint".</p>

    <h2>1. Application</h2>

        <p>These Referral Fee Terms set out the terms on which we intend to pay you fees for referring new users to PeerPoint. They apply to you as soon as you first use the Website, and you are deemed to have agreed to be bound by them upon your first use of the Website. If you do not wish to continue to be bound by these Referral Fee Terms, please stop using the Website now.</p>

    <h2>2. Relationship to Other Agreements</h2>

        <p>In addition to these Referral Fee Terms, our Terms of Service and our Privacy Policy apply to you and everyone else who uses the Website. We refer to the Terms of Service, the Referral Fee Terms and the Privacy Policy together as the "Website Agreements".</p>

        <p>During the course of your use of the Website, you may choose to agree to be bound by certain other agreements: for example, if you wish to join PeerPoint as a member, you will need to agree to a Membership Agreement, and if you wish to invest in a business through PeerPoint, you will need to agree to the relevant Investment Agreement. We refer to all of these other agreements as the "Platform Agreements", because rather than just governing your technical use of the Website, they set out the substantive terms that govern your relationship with us when you make use of our platform.</p>

        <p>The Website Agreements will continue to apply to you even after you have agreed to a Platform Agreement. However, if it turns out that there is a conflict between the Website Agreements and a Platform Agreement that you agree to, the Platform Agreement will take precedence.</p>

    <h2>3. Structure of Referral Fees</h2>

        <p>From time to time, we may have in place arrangements by which we pay you referral fees for referring investors or businesses to PeerPoint. Currently, we have three types of referral fee arrangements in place:</p>
        <ol>
            <li>Referral fees that we pay when you, as a PeerPoint member, refer a new investor to PeerPoint We call these "General Investor Referral Fees". These fees are paid directly to your PeerPoint account, and the details of them are currently set out on the Referrals guide.</li>
            <li>Referral fees that we pay when your business brings investors to PeerPoint to invest in its campaign. These include "Angel Investor Referral Fees", which apply to certain larger investors you bring, and "Network Investor Referral Fees", which apply to other investors you bring. These fees are paid to you by means of an offset against the fees you pay us, and the details are currently set out in the first two bullet points on the Raising Fees page.</li>
            <li>Referral fees that we pay you when you refer a business to us and it subsequently raises capital through PeerPoint. We call these "Business Referral Fees". These fees only apply to the extent that we have a separate agreement in place with you in respect of business referrals, and the fees are paid by the method set forth in that agreement.</li>
        </ol>
        <p>Any or all of these referral fees are subject to change or be withdrawn at any time and entirely at our discretion. Such changes may impact the fees payable in respect of referrals you have already made. Any new referral fee system will be described on one or more pages of the Website or in another form of notice to you. All referral fees will be paid gross of any tax you may be required to pay.</p>


    <h2>4. Identification and Regulatory Requirements</h2>

        <p>We will generally pay your referral fees to you at the time the relevant investment transaction is completed. However, we may require you to pass anti-money laundering checks or other identification checks, or to satisfy other regulatory requirements, and we may decline to pay you any referral fees until and unless you have done so. If you do not pass such checks or satisfy such requirements within a reasonable period of time, we may cancel your referral fees.</p>

    <h2>5. Exceptions</h2>

        <p>Our referral fee system is intended to encourage you to refer genuinely new investors and businesses to PeerPoint. We therefore reserve the right to refuse to pay referral fees in respect of an individual or business that is directly connected with you. That may include an immediate family member or a company which you control, but it may also include other relationships where we believe that payment of referral fees would not be consistent with the purpose of this system. The determination as to whether to refuse to pay referral fees will be made entirely at our discretion.</p>

    <h2>6. Severability</h2>

        <p>We have made every effort to ensure that these Referral Fee Terms adhere strictly with the relevant provisions of the [law act] and other applicable laws. However, in the event that any of these provisions are found to be unlawful, invalid or otherwise unenforceable, that provision is to be deemed severed from these Referral Fee Terms and shall not affect the validity and enforceability of the remaining Referral Fee Terms. This clause on "Severability" shall apply only within jurisdictions where a particular term is illegal.</p>

    <h2>7. No Waiver</h2>

        <p>In the event that either you or we fail to exercise any right or remedy contained in these Referral Fee Terms, that does not mean you or we (as applicable) have waived that right or remedy and so shall not be construed as a waiver.</p>

    <h2>8. Revisions</h2>

        <p>From time to time we may update these Referral Fee Terms to take account of changes in the law or for any other reason. If we update these Referral Fee Terms, we will post a new version on the Website, and as soon as you use the Website after they are posted, you will be deemed to have agreed to the updated version, but you will still be bound by the terms of any previous versions to which you have agreed or been deemed to agree. If there is a conflict between two versions of the Referral Fee Terms to which you have agreed or been deemed to agree, the more recent version shall take precedence unless it is expressly stated otherwise.</p>

    <h2>9. Communications</h2>

        <p>If you wish to communicate with us about anything related to these Referral Fee Terms, you may do so by sending an email to support@peerpointcapital.com.</p>

    <h2>10. Choice of Law</h2>

        <p>These Referral Fee Terms shall be governed by and construed in accordance with the laws of the State of Illinois.</p>

    <h2>11. Jurisdiction</h2>

        <p>You agree to submit to the exclusive jurisdiction of the courts of the State of Illinois. This means that if you want to bring a legal action against us, or we want to bring a legal action against you, it must be done in one of these courts.</p>

    <h2>12. Definitions</h2>

        <p>We have used a few capitalised terms in this agreement, which means that they have specific definitions. In some cases the definition is set out when they are first used, but in a few cases we give the meaning below instead.</p>
        <ul>
            <li>Privacy Policy means the privacy policy of the Website, available at Privacy Policy;</li>
            <li>PeerPoint means PeerPoint Capital, Inc, a private corporation registered in the State of Illinois.</li>
            <li>Terms of Service means the terms of service of the Website, available at <%= link_to "Terms of Service" , terms_of_service_path %>; and</li>
            <li>Website means the website that you are currently using (www.peerpointcapital.com) and any sub-domains of this site unless expressly excluded by their own terms and conditions.</li>
        </ul>
 </div>
</div>