<div class="container">
    <h3>Raise Capital</h3>
    
    <div class="jumbotron">
        <p>In order to raise capital for your startup through PeerPoint, you need to create a campaign.  Your campaign will include information about the business, as well as how much money you're seeking in exchange for how much equity.  Investors will decide whether to invest in your startup based on your campaign.  To see an example of what a completed campaign looks like, check our <%= link_to "case_studies." , case_studies_path %> </p>
        <p>You can save your draft and come back to it at any time, and nothing will be posted for investors to review until after you've submitted your final version and we've approved it.</p>
        <br>
        <%= link_to "CREATE A NEW CAMPAIGN" , how_to_invest_path, class:'btn btn-primary btn-lg' %>
        
    </div>
    
    
</div>
