<div class="container">
    <h3>Are you ready to raise capital from the crowd?</h3>
    <p>Please take a moment to answer these questions to help you decide whether you are ready to raise funds from your community using PeerPoint:</p>
    
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">
            <h5>Do you have your team in place?</h5>
            <p>The team is one of the most important factors that investors consider when reviewing a campaign.</p>
        </div>
        <div class="col-md-1">
            
        </div>
        <hr>
        
    </div>
    
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">
            <h5>Have you done everything that you can do without money?</h5>
            <p>Investors will want to see that you have been resourceful and proactive about testing your idea.  For example, research the market, potential competitors and existing customer behavior.</p>
        </div>
        <div class="col-md-1">
            
        </div>
        <hr>
        
    </div>
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">
            <h5>Will your company be able to adopt our standard articles of association and execute our standard subscription agreement?</h5>
            <p>PeerPoint uses a standardized set of documents to protect both your rights and the rights of the investors.  You can refer to our subscription agreement and articles of association at any time.</p>
        </div>
        <div class="col-md-1">
            
        </div>
        <hr>
        
    </div>
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">
            <h5>Do you have a marketing strategy in place to promote your campaign to investors?</h5>
            <p>See this article about building momentum for more information on how important it is to bring your momentum to you campaign.</p>
        </div>
        <div class="col-md-1">
            
        </div>
        <hr>
        
    </div>
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">
            <h5>Have you talked to your network of customers, friends, family and professional contracts to assess their willingness to invest?</h5>
            <p>Your immediate personal and professional network is your most important source of support, advocacy and investment.</p>
        </div>
        <div class="col-md-1">
            
        </div>
        <hr>
        
    </div>
    <div class="row">
        <div class="col-md-1">
            
        </div>
        <div class="col-md-10">
           <h5>Will you be able to create an awesome video to support your campaign?</h5> 
           <p>You will be able to submit this video at a later stage once your campaign has been reviewed.</p>
        </div>
        <div class="col-md-1">
            
        </div>
        
    </div>
    <div>
        <p>If you've answered yes to these questions, then let's get started.  If you're not quite ready, then take the time to read these articles about how to fund raise from your community. </p>
    </div> 
    <br>
    <br>
    <%= link_to "CREATE CAMPAIGN" , how_to_invest_path, class:'btn btn-success btn-lg' %>
        
   
    
    
</div>