<h4>Welcome to PeerPoint!</h4>
<p>We are currently assembling the best group of entrepreneurs to help grow their businesses.  Stay on top of all the latest news and get exclusive access to breaking developments.</p>
<br>
<div class="input-group">
                  <input type="text" class="form-control" placeholder= "Email address">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button"><i class="fa fa-envelope-o"></i></button>
                      </span>
                </div><!-- /input-group -->
<p>Not an Illinois resident? Continue HERE</p>                